.chapcodinh{
    width: 100%;
    height: 8%;
    background-color: #198754;
    color: #fff;
    position: fixed;
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.btn_chapter:hover{
    color: tomato;
}
.form-chapter {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đảm bảo form hiển thị trên các phần khác */
}

.form-chapter h4 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.form-chapter ul {
    list-style: none;
    padding: 0;
}

.form-chapter ul li a {
    text-decoration: none;
    color: #555;
}

.form-chapter ul li a:hover {
    color: tomato;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

.card{
    margin-left: 0%;
}

.dschapter{
    border: solid 1px #ddd;
    height: calc(100vh - 300px);
}

.chapter{
    border: solid 1px #ddd;
    padding: 5px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    
}

.tenchuong{
    color:sienna;
    background-color:#FFDAB9;
    text-align:center;
    margin: 20px;
}

.btnchonchap{
    width: 100px;
    display: flex;
}

.headerchap {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.chonchap,
.chuyenchap {
    flex-basis: auto; 
}

.chuyenchap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-basis: 100%;
}

.chuyenchap .btn {
    margin: 5px;
    width: 125px;
}

.noidungtruyen{
    padding: 10px 20px 10px 20px;
    margin: 0 30px;
    background-color: #FFFAF0;
}
.form-chapter {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: fixed; /* Thay đổi từ absolute sang fixed */
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đảm bảo form hiển thị trên các phần khác */
    display: none;
}
body.form-chapter-open {
    overflow: hidden;
}
